<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="app" class="container mt-5">

        <!-- *************************Primer práctica
        <input type="text" v-model="nuevaFruta" @keyup.enter="agregarFruta">
        <button @click="agregarFruta">Agregar fruta</button>

        <h1>{{ titulo }}</h1>
        
        <ul>
            <li v-for="fruta of frutas">
                <input type="number" v-model.number="fruta.cantidad">
                {{ fruta.nombre }} 
                <span v-if="fruta.cantidad === 0">No hay frutas</span>
                <button @click="fruta.cantidad++">+</button>
            </li>
        </ul>

        <h4>Total: {{ sumarFrutas }}</h4>
        

        <h1>Venta de {{ movieTitle }}</h1>
        <ul>
            <li v-for="pelicula of peliculas">
                <input type="number" v-model.number="pelicula.cantidad">
                {{ pelicula.nombre }} -{{ pelicula.year }}
                <span v-if="pelicula.cantidad == 0">No hay en existencia</span>
                <button @click="pelicula.cantidad++">+</button>
            </li>
        </ul>

        <h4>Total del peliculas en venta: {{ sumarPeliculas }} </h4>

        <input type="text" placeholder="agrega una pelicula" v-model="nuevaPelicula" @keyup.enter="agregarPelicula">
        <button @click="agregarPelicula">Agregar pelicula</button> 
    
        *************************/Primer práctica-->

        <!-- ******************Segunda práctica******************* 

        <div :class="['p-3', 'mt-5', fondo, 'text-white']">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate esse mollitia laudantium nostrum
                eveniet distinctio aliquam, tenetur quas dolorum minus sapiente accusamus voluptatem porro odit deserunt
                quia, natus quod velit repellendus. Tempore laboriosam nam eos ut enim fugiat placeat maiores, fugit
                molestias omnis iste hic. Corrupti error enim dolorem quibusdam?</p>
        </div>

        <div>
            <input type="text" class="form-control my-3" v-model="fondo">
        </div>

        <div class="p-3" :class="{'bg-info' : color, 'bg-success' : !color}">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate esse mollitia laudantium nostrum
                eveniet distinctio aliquam, tenetur quas dolorum minus sapiente accusamus voluptatem porro odit deserunt
                quia, natus quod velit repellendus. Tempore laboriosam nam eos ut enim fugiat placeat maiores, fugit
                molestias omnis iste hic. Corrupti error enim dolorem quibusdam?
            </p>
        </div>

        <button class="btn btn-primary mt-2" @click="color = !color;">Cambiar color</button>

        ******************/Segunda práctica******************* -->

        <!-- ******************tercer práctica******************* -->
        <!-- <h3>{{ titulo }}<h3> -->

                <!-- <input type="text" class="form-control my-3" v-model="nuevaTarea" @keyup.enter="agregarTarea">
                <button class="btn btn-primary" @click="agregarTarea">Agregar</button>

                <div v-bind:class="['alert', tarea.estado ? 'alert-info' : 'alert-danger']"
                    class="alert alert-info my-4" role="alert" v-for="(tarea, index) of tareas">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            {{ index }} - {{ tarea.nombre }} - {{ tarea.estado }}
                        </div>

                        <div>
                            <button class="btn btn-success btn-sm" @click="editarTarea(index)">OK</button>
                            <button class="btn btn-warning btn-sm" @click="eliminar(index)">X</button>
                        </div>
                    </div>
                </div> -->

                <!-- <input type="text" class="form-control my-3" v-model="nuevaTarea" @keyup.enter="agregarTarea">
                <button @click="agregarTarea" class="btn btn-primary">Agregar Tarea</button>

                <div v-bind:class="['alert', item.estado ? 'alert-success' : 'alert-danger']"
                    class="alert alert-info my-4" role="alert" v-for="(item, index) of tareas">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            {{ index }} - {{ item.nombre }} - {{ item.estado }}
                        </div>
                        <div>
                            <button class="btn btn-sm btn-danger" @click="eliminarTarea(index)">X</button>
                            <button class="btn btn-sm btn-warning" @click="cambiarEstado(index)">OK</button>
                        </div>
                    </div>
                </div> -->


                <!-- ******************/tercer práctica******************* -->


                <!-- ******************cuarta práctica******************* 

                <h1>{{ mensaje }}</h1>
                <h2>invertido: {{ invertido }}</h2>

                <input type="text" v-model="mensaje" class="form-control">

                <hr>

                <h1>{{ contador }}</h1>

                <button class="btn btn-success" @click="contador++">+</button>
                <button class="btn btn-danger" @click="contador--">-</button>

                <div class="progress mt-3">
                    <div class="progress-bar" v-bind:class="color" role="progressbar" :style="{'width' : contador+'%'}" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100">{{ contador }}%</div>
                </div>
                ******************/cuarta práctica******************* -->

                <!-- *************quinta práctica***************************** 

                <h3>{{ saludo }}</h3>

                <button @click="saludo = 'saludo cambiado'">Cambiar</button>
                <button @click="destruir()">Destruir</button>

                *************/quinta práctica***************************** -->


                <!-- *************sexta práctica***************************** 
                    <saludo></saludo>
                    <contador></contador>
                    <contador></contador>
                *************/sexta práctica***************************** -->


                <!-- *************séptima práctica***************************** -->
              
                    <padre></padre>
                <!--*************/séptima práctica***************************** -->
    </div>
    

    <!-- scripts de VUE y mios -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="componentes/padre.js" type="text/javascript"></script> 
    <script src="componentes/hijo.js"></script>
    <script>
        new Vue({
            el: '#app',
        })
    </script>
</body>

</html>
